<section class="about-section w-100" id="o-nama">
	<div class="mw-1000 about-section-wrap m-auto p-basic">
		<h2 class="title mb-3" data-animate>
			{{site.about_title}}
		</h2>
		<p class="paragraph mb-3" data-animate>
			{{site.about_text}}
		</p>
		<a href="mailto:{{site.email}}" class="btn primary" title="{{site.title}} | {{site.description}} | {{site.about_button}}">{{site.email_button}}</a>
		<a href="tel:{{site.phone_number}}" class="btn secondary call-btn mt-2" title="{{site.title}} | {{site.description}} | {{site.about_button}}">{{site.call_button}}</a>
	</div>
</section>