<section class="hero-section">
	<div class="mw-1000 d-flex m-auto p-basic hero-section-wrap">
		<div class="w-md-50">
			<h1 class="title">{{site.hero_title}}</h1>
			<p class="paragraph mt-2 mw-480">{{site.hero_description}}</p>
			<a href="{{site.contact_link}}" class="btn primary mt-2" title="{{site.title}} | {{site.description}}">
				{{site.contact_btn}}
			</a>
			<a href="{{site.learn_more_link}}" class="btn secondary mt-2" title="{{site.title}} | {{site.description}}">
				{{site.learn_more_btn}}
			</a>
		</div>
		<div class="w-md-50 hero-image-section">
			<img src="{{site.baseurl}}/assets/img/elements.svg" alt="{{site.title}} | {{site.description}}" title="{{site.title}} | {{site.description}}" class="elements-image">
			<div class="box m-auto mt-4">
				<img src="{{site.baseurl}}/assets/img/hero-image.svg" alt="{{site.title}} | {{site.description}}" title="{{site.title}} | {{site.description}} ">
			</div>
		</div>
	</div>
</section>