<section class="how-section" data-animate>
	<div class="how-section-wrap d-flex m-auto mw-1000 p-basic">
		<div class="elements-image-wrap">
			<img src="{{site.baseurl}}/assets/img/elements.svg" alt="{{site.title}} | {{site.description}}" title="{{site.title}} | {{site.description}}" class="elements-image">
		</div>
		<div class="w-md-48">
			<div class="content-card p-basic">
				<h2 class="title">{{site.how_to_buy_title}}</h2>
				<p class="paragraph mt-2">
					{{site.how_to_buy_text}}
				</p>
			</div>
		</div>
		<div class="w-md-48">
			<div class="content-card p-basic">
				<h2 class="title">{{site.how_to_sell_title}}</h2>
				<p class="paragraph mt-2">
					{{site.how_to_sell_text}}
				</p>
			</div>
		</div>
	</div>
</section>