<section class="testimonial-section w-100" data-animate>
	<div class="mw-1000 testimonial-section-wrap m-auto p-basic ">

		<h2 class="title mb-3">
			{{site.testimonials_title}}
		</h2>
		<div class="testimonials-wrap d-flex">
			{% for t in site.data.testimonials %}
			<div class="testimonial">
				<main class="quote">
					<p class="paragraph font-weight-500 secondary-font">
						{{ t.quote }}
					</p>
				</main>
				<aside class="info d-flex">
					<div>
						<div class="bgc-image" style="background-image: url('{{site.baseurl}}/assets/img/{{t.img}}')"></div>
					</div>
					<div>
						<p class="paragraph dark name">{{ t.name }}</p>
						<p class="paragraph light">{{ t.title }}</p>
					</div>
				</aside>
			</div>
			{% endfor %}
		</div>
	</div>
</section>