<section class="what-next-section" data-animate>
	<div class="what-next-section-wrap mw-1000 m-auto p-basic">
		<h2 class="title mb-3">
			{{site.what_next_title}}
		</h2>
		<p class="paragraph mb-3">
			{{site.what_next_text}}
		</p>

		<a href="mailto:{{site.email}}" 	class="flat-btn mb-3" title="{{site.title}} | {{site.description}} | {{site.email}}">{{site.email}}</a>
		<br>
		<a href="tel:{{site.phone_number}}" class="flat-btn mb-3" title="{{site.title}} | {{site.description}} | {{site.phone_number}}">{{site.phone_number}}</a>
		<br>

		<a href="mailto:{{site.email}}" class="btn primary" title="{{site.title}} | {{site.description}} | {{site.about_button}}">{{site.email_button}}</a>
		<a href="tel:{{site.phone_number}}" class="btn secondary call-btn mt-2" title="{{site.title}} | {{site.description}} | {{site.about_button}}">{{site.call_button}}</a>
	</div>
</section>